{% extends 'spacing/base.html' %}

{% block content %}
<div>
{% if user.is_authenticated %}
<div class="modal-dialog" role="document" style="margin-top: 150px;">
  <div class="modal-content">

    <div class="modal-body">
      <p id="show-form-group" style="height: 150px; width:300px;"></p>
    </div>
    <div class="modal-footer">
      <button type="button" id="nextbutton" class="btn btn-primary">Start/Next</button>
    </div>
  </div>
</div>

{% else %}
<section class="container-fluid px-0" style="margin-top: 80px;">
  <div class="row align-items-center content">
    <div class="col-md-6 order-2 order-md-1">
      {% load static %}
      <img class="img-fluid" src="{% static "forgettingCurve.png" %}" alt="" style="margin-left: 40px;">
    </div>
    <div class="col-md-6 text-center order-1 order-md-2">
      <div class="row justify-content-center">
        <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
          <h2>SPACING EFFECT</h2>
          <img src="imgs/lolli_icon.png" alt="" class="d-none d-lg-inline">
          <p class="lead">More information is encoded into long-term memory
            by spaced study sessions, that is known as spaced presentation.
             Now, create your information that will repeat according to forgetting curve.</p>
          <p><a class="btn btn-success btn-lg" href="/spacing/create" role="button">Create</a></p>
        </div>
      </div>
    </div>
  </div>
  </section>
{% endif %}
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  var list = [];
  {% for i in list %}
  var element = {};
  var content = "{{i.content}}"
  var id = {{i.id}}
  element.id = id;
  element.content = content;
  list.push(element);
  {% endfor %}

  var i = 0;
  $('#nextbutton').on('click', function(){
    $(".list_dis").remove();
    if (i < list.length) {
      $("#show-form-group").append("<div class='list_dis'>" + list[i].content + "</div>");
      i = i + 1;
    } else {
      $("#show-form-group").append("<div class='list_dis'>There is nothing need to review. Go to <a href='/spacing/create'>create</a></div>");
    }

  });

</script>
{% endblock %}


  <div class="modal-dialog" role="document" style="margin-top: 200px;">
    <div class="modal-content">

      <div class="modal-body">
        <p id="show-form-group"></p>
      </div>
      <div class="modal-footer">
        <button type="button" id="nextbutton" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
